  <h1>Bienvenido a Sinatra!</h1>
  <p>Este es un esqueleto de sinatra que armamos para ti</p>
  <p>introduce la url que quieres acortar</p>
  <form action="/urls" method="post">
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Dilo!">
  </form>


<!--   <% @all_urls %>
 -->

  
